/*height = 85px; width = 350px*/
@-webkit-keyframes text_ani{
  0%, 3%, 100% {width: 0px;}
  6%, 94% {width: 225px;}
}

@-webkit-keyframes logo_ani{
  0%, 100% {width: 0px;}
  3%, 97% {width: 75px;}
}

@-webkit-keyframes content_ani{
  0%, 100% {width: 0px;}
  0.5%, 99.5% {width: 300px;}
}

html, body, div, p, h1, h2, h3{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div{
  float:left;
}

#content{
  height: 75px;
  width: 0px;
  overflow: hidden;

  -webkit-animation: content_ani 20s 0s;
}

#logo-back{
  -webkit-transform: skewX(-20deg);
  height: 75px;
  width: 0px;
  background: #55ACEE;
  position: absolute;
  top: 0;
  left: 15px;

  -webkit-animation: logo_ani 20s 0s;
}

#logo{
  height: 75px;
  width: 0px;
  background-image: url('TwitterLogo_white.png');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 15px;

  -webkit-animation: logo_ani 20s 0s;
}

#text-back{
  -webkit-transform: skewX(-20deg);
  height: 75px;
  width: 0px;
  background: #74bbf1;
  position: absolute;
  top: 0;
  left: 90px;


  -webkit-animation: text_ani 20s 0s;
}

#text{
  position: absolute;
  top: 0;
  left: 110px;
  width: 0px;
  color: #FFFFFF;
  padding: 12.5px 0px;
  font-size: 20px;

  overflow: hidden;
  -webkit-animation: text_ani 20s 0s;
}

.btn {
  position: fixed;
  left: 10;
  bottom: 10;
  background: #212121;
  color: #FFFFFF;
  padding: 5px;
}
